.featured-list{
  .slide{
    float: left;
    width: 25%;
    box-sizing: border-box;
  }
}

.article-preview{

  .featured-image{
    height: 200px;
    min-width: 100px;
    position: relative;
    overflow: hidden;
    background-color: lighten($color-gray-light, 10%);

    img{
      position: absolute;
      left: 50%;
      top: 50%;
      @include translate(-50%, -50%);

      &.transition{
        @include transition-property(all);
        @include transition-duration(.2s);
        @include transition-timing-function(ease-in);
      }

      /*
      position: absolute;
      top: -9999px;
      bottom: -9999px;
      left: -9999px;
      right: -9999px;
      margin: auto;
      */

    }

    &:hover img.wide{
      height: 110%;
      width: auto;
    }

    &:hover img.tall{
      width: 110%;
      height: auto;
    }
  }

  .category,
  .sub-category{
    text-transform: uppercase;
    font-family: opensans-bold, sans-serif;
  }

  .category-wrapper{
    padding: $space-large $space-medium $space-small;
    position: absolute;
    width: 100%;
    bottom: 0;
    @include background-image(linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)));

    > .sub-category{
      text-align: left;

      a{
        font-family: opensans-regular, sans-serif;
        color: $color-light;

        &:hover{
          color: $color-accent2;
        }
      }
    }

    > .rating-wrapper{
      padding-top: $space-small / 2;
    }
  }

  .category{
    letter-spacing: 1px;
  }

  .title{
    font-size: 1.3em;
    line-height: $baseline * 1.3;
    margin-bottom: $space-small;

    a{
      color: $color-dark;
      @include transition-property(all);
      @include transition-duration(.2s);
      @include transition-timing-function(ease-in);

      &:hover{
        color: $color-accent1;
      }
    }
  }

  .timestamp{
    color: $color-gray-dark;
    margin-bottom: $space-small * 1.5;

    li{
      display: inline-block;
      font-size: 0.9em;

      &+li:before{
        font-family: FontAwesome;
        content: "\f111";
        font-size: 0.5em;
        padding: $space-small / 2;
        padding-right: ($space-small+2) / 2;
        line-height: 0.9em;
        vertical-align: middle;
      }
    }
  }

  .rating-wrapper{
    float: left;
    margin-right: $space-small;
    padding: $space-small 0;

    i{
      font-size: .85em;
      color: $color-gray-light;

      &+i{
        margin-left: $space-small;
      }

      &.rated{
        color: $color-accent2;
      }
    }
  }

  // BIG FEATURE ON HOMEPAGE
  &.featured-large{

    .featured-image{
      height: 410px;
      opacity: 1;
      @include transition-property(all);
      @include transition-duration(.3s);
      @include transition-timing-function(ease-in);

      .content{
        position: absolute;
        bottom: 0;
        padding: $space-medium + 10 $space-medium + 10;
        @include background-image(linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)));

        .category{
          display: block;
          font-size: 12px;
          text-transform: uppercase;
          color: $color-gray-light;
          margin-bottom: $space-small;
        }

        h3{
          color: $color-accent2;
          margin-bottom: $space-small;
        }

        p{
          color: $color-light;
          line-height: $baseline * 1.2;
        }
      }
    }
  }

  // MINI FEATURED BELOW MAIN FEATURED
  &.featured-mini{
    border: 1px solid $color-gray-light;
    border-collapse: collapse;

    &.active, &:hover{
      background: lighten($color-gray-light, 10%);
      border-bottom: 2px solid $color-accent2;
    }

    &:hover{
      background: lighten($color-gray-light, 13%);
    }

    .featured-image{
      height: 125px;
      overflow: hidden;
      position: relative;

      .category-wrapper{
        @include background-image(linear-gradient(to bottom, rgba(0, 0, 0, .8), rgba(0, 0, 0, 0)));
        padding: $space-small $space-small $space-medium;
        top: 0;
      }
    }

    .content{
      padding: $space-small;

      .sub-category{
        font-family: opensans-bold, sans-serif;
        margin-bottom: $space-small / 2;
      }

      p{
        font-size: .9em;
      }
    }
  }

  // DEFAULT ARTICLE PREVIEW - PORTRAIT
  &.portrait{
    display: block;
    margin-bottom: $space-medium;

    .featured-image{
      margin-bottom: $space-small;
    }

    .category{
      margin-bottom: $space-small / 2;
    }

    > .sub-category{
      text-align: right;
      padding: $space-small 0;
      font-weight: normal;
    }
  }

  // DEFAULT ARTICLE PREVIEW - LANDSCAPE
  &.landscape{
    display: block;
    margin-bottom: $space-medium;

    &.mini{
      margin-bottom: $space-medium;
      height: 95px;

      [class*='col-']{
        padding: 0 $space-small 0 15px;

        &:nth-child(2){
          padding: 0 15px 0 0;
        }
      }

      .featured-image{
        max-width: 110px;
        max-height: 90px;
        margin-right: $space-medium;
      }

      .title{
        margin-bottom: $space-small / 2;
        font-size: 1em;
        line-height: 1.3em;
      }

      .timestamp{
        margin-bottom: $space-small;
      }

      .rating-wrapper {
        float: none;
        padding: 0 0 $space-small;
      }
    }

  }
}

.tag{
  font-family: opensans-bold;
  text-transform: uppercase;
  display: inline-block;
  width: auto;
  background-color: $color-accent3;
  margin-bottom: $space-small;

  &.category{
    padding: $space-small;
    background-color: $color-accent2;
    color: $color-light;
    margin: $space-medium 0;
  }
}



