.btn{
  @include border-radius(0);
  @include transition-property(all);
  @include transition-duration(.2s);
  @include transition-timing-function(ease-in);

  &.btn-primary{
    background-color: $color-accent2;
    border-color: darken($color-accent2, 3%);

    &:hover, &:focus{
      background-color: darken($color-accent2, 5%);
      border-color: darken($color-accent2, 7%);
    }

    &.active{
      color: $color-light;
      background-color: $color-accent1;
    }
  }

  &.btn-outline{
    border: 2px solid $color-accent2;
    background-color: transparent;
    color: $color-accent2;

    &:hover, &:focus{
      background-color: transparent;
      color: $color-accent1;
      border-color: $color-accent1;
    }

    &.active{
      color: $color-light;
      background-color: $color-accent2;
      border-color: $color-accent2;
      @include box-shadow(none);
    }

    &.btn-light{
      border: 2px solid $color-light;
      color: $color-light;

      &:hover, &:focus{
        color: $color-accent2;
        border: 2px solid $color-accent2;
      }
    }
  }

  &.btn-facebook{
    @include simple-button($color-facebook, $color-light);
  }

  &.btn-twitter{
    @include simple-button($color-twitter, $color-light);
  }

  &.btn-facebook, &.btn-twitter{
    min-width: 70px;
    font-family: opensans-bold, sans-serif;

    i{
      margin-right: $space-small / 2;
    }
  }
}