.form-control:focus {
  border-color: $color-accent2;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(77, 196, 210, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(77, 196, 210, .6);
}

.form-control, .dropdown-menu{
  @include border-radius(0);
}

label{
  margin-bottom: $space-small;
  font-family: opensans-semibold, sans-serif;
}

.dropdown-menu{
  margin: 0;
}

input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 28px;
  min-height: 18px;
  display: inline-block;
  line-height: 18px;
  background-repeat: no-repeat;
  background-position: 0 0;
  vertical-align: middle;
  cursor: pointer;
  font-family: opensans-regular, sans-serif;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -18px;
}

label.css-label {
  background-image: url("../images/misc/csscheckbox.png");
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-title{
  color: $color-accent2;
  margin-bottom: $space-small / 2;
}

.form-subtitle{
  margin-bottom: $space-medium * 1.5;
}

.register,
.login{
  background: url("../images/backgrounds/valley.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  margin-top: -80px;
  padding: ($space-large * 3) 0;
  color: $color-light;
  position: relative;
  z-index: 1;

  &:before{
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
  }

  .caption{
    margin-top: $space-large;
    margin-bottom: $space-small / 2;
    font-family: opensans-semibold, sans-serif;
  }

  button{
    margin-top: $space-medium + $space-small;
  }
}

.login{
  background: url("../images/backgrounds/jump.jpg") no-repeat center;
  background-size: 120%;

  &:before{
    background-color: rgba(0, 0, 0, .7);
  }

  .forgot{
    margin-top: 2px;
  }

  button{
    margin-top: $space-medium;
  }
}