.contributor-profile {
  padding: $space-small 0;

  .avatar {
    width: 120px;
    height: 120px;
  }

  .name {
    color: $color-dark;
    font-size: 1.4em;
    margin-bottom: $space-small;
    font-family: opensans-semibold, sans-serif;
    display: block;

    &:hover {
      color: $color-accent2;
    }
  }

  .location {
    margin-bottom: $space-medium;
  }

  .about {
    color: $color-gray-dark;
    margin-bottom: $space-medium;
  }

  .btn-follow,
  .btn-unfollow {
    float: right;
    margin-bottom: $space-medium;
  }

  .statistic {
    font-family: opensans-semibold, sans-serif;
    font-size: 1.15em;
  }

  &.mini {
    .avatar {
      width: 50px;
      height: 50px;
      float: left;
    }

    .info {
      padding-left: 70px;

      .name {
        font-size: 1.1em;
        line-height: 1.3em;
        margin-bottom: 5px;
      }

      .location {
        color: $color-gray-dark;
      }
    }
  }
}

.back-gray {
  background-color: $background-light;
  margin-top: -80px;
  padding: 80px 0;
  position: relative;
  z-index: 1;
}

.contributor-menu {
  background-color: $color-light;

  // UNAUTHORIZED SIDEBAR
  &.unauthorized{
    .featured{
      background: url('../images/backgrounds/morning.jpg') no-repeat center center / cover;
    }

    .info{
      position: relative;
      z-index: 2;

      .title {
        color: $color-accent2;
        font-size: 1.2em;
        font-family: opensans-semibold, sans-serif;
        margin-top: $space-medium;
      }

      .subtitle {
        color: $color-gray-light;
        margin-bottom: $space-small;
      }
    }

    .login-form{
      @include box-shadow($color-gray-light 0 1px 1px);
      background-color: $color-light;
      padding: $space-medium;

      .form-subtitle{
        margin-bottom: $space-small;
      }
    }
  }

  // SIDEBAR WHEN VIEW ANOTHER PROFILE
  &.compact{
    .featured {
      padding: $space-medium;
      position: relative;
      overflow: hidden;
      z-index: 1;
      width: 100%;

      &::after {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        background: rgba(0, 0, 0, 0.6);
      }

      .contributor-profile{
        @include clearfix();
        position: relative;
        z-index: 2;

        .name {
          color: $color-accent2;
        }

        .location{
          color: $color-gray-light;
        }
      }

      .btn{
        position: relative;
        z-index: 2;
        margin-top: $space-small;
      }
    }
  }


  // DEFAULT SIDEBAR ON ACCOUNT PAGE
  &.default{
    .featured{
      height: 130px;
    }

    .contributor-profile{
      @include box-shadow($color-gray-light 0 1px 1px);
      padding: 0 $space-medium $space-medium;
      text-align: center;
      margin-top: -60px;
      position: relative;
      z-index: 2;

      .avatar{
        border: 7px solid rgba(255, 255, 255, .3);
        margin: 0 auto $space-small;
        width: 120px;
        height: 120px;
        float: none;
      }

      .info{
        padding: 0;
        margin-bottom: $space-medium;

        .name{
          font-size: 1.3em;
        }
      }
    }
  }

  nav{
    @include box-shadow($color-gray-light 0 1px 1px);
    background: $color-light;
    border-top: none;

    li{

      a{
        padding: 15px $space-medium;
        display: block;
        font-family: opensans-semibold, sans-serif;
        font-size: 1.1em;
        color: $color-dark;

        &:hover{
          background-color: lighten($color-gray-light, 10%);
        }

        i{
          text-align: center;
          min-width: $space-medium;
          margin-right: $space-medium;
        }
      }

      &.active{
        a, a:hover{
          background-color: $color-accent3;
          color: $color-light;
        }
      }

      +li a{
        border-top: 1px solid lighten($color-gray-light, 5%);
      }
    }
  }
}


// PROFILE
.account-profile{
  background-color: $color-light;

  // WIDE AND CENTER FOR DETAIL
  &.detail{
    .cover{
      height: 200px;
    }

    .profile-wrapper .profile{
      position: relative;
      z-index: 2;
      text-align: center;

      .name{
        margin-bottom: $space-small;

        a{
          color: $color-dark;
        }
      }

      .about{
        margin-top: 0;
        margin-bottom: $space-small;
      }
    }
  }

  // PROFILE DEFAULT
  .cover{
    height: 350px;
    position: relative;

    &:after{
      content: "";
      position: absolute;
      height: 50%;
      width: 100%;
      bottom: 0;
      @include background-image(linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)));
    }
  }

  .profile-wrapper{
    @include box-shadow($color-gray-light 0 1px 1px);
    background-color: $color-light;

    .profile{
      padding: $space-medium;
      margin-top: -85px;
      color: $color-dark;

      .avatar{
        max-width: 125px;
        display: block;
        margin: 0 auto;
        border: 7px solid rgba(255, 255, 255, .3);
      }

      .name{
        margin-top: 7px;
        color: $color-dark;

        a{
          color: $color-light;

          &:hover{
            color: $color-accent2;
          }
        }
      }

      .about{
        margin-top: 35px;
        line-height: 1.6em;
      }

      .location{
        margin-top: $space-small;
        color: $color-gray-dark;

        i{
          margin-right: $space-small;
        }
      }

      .detail{
        margin-top: $space-small;
        color: $color-gray-dark;
        text-align: right;
        display: block;

        &:hover{
          color: $color-accent2;
        }
      }

      .statistic{
        margin: $space-medium 0;

        li + li{
          border-left: 1px solid $color-gray-light;
        }

        a{
          color: $color-accent2;
          text-align: center;
          display: block;

          &:hover{
            color: $color-accent3;
          }

          strong{
            color: $color-dark;
            font-size: 2em;
            font-style: normal;
            font-family: opensans-bold, sans-serif;
            display: block;
            margin-bottom: 5px;
          }
        }
      }
    }

    .list-data{
      h3{
        background: $color-accent2;
        padding: $space-small $space-medium;
        color: $color-light;
        font-size: 1.1em;

        a{
          color: $color-light;
          float: right;
        }
      }

      .content{
        // ARTICLE CONTENT
        .article-preview.landscape.mini{
          height: 175px;
          margin-bottom: 0;
          padding: $space-medium;
          border-bottom: 1px solid $color-gray-light;

          .featured-image{
            max-height: 135px;
            max-width: 100%;
            margin-right: $space-medium;
          }

          .category{
            margin: 0;
          }

          .title{
            font-size: 1.3em;
            line-height: 1.5em;
          }

          .rating-wrapper{
            float: left;
            padding: $space-small 0;
          }
        }

        // CONTRIBUTOR CONTENT
        .contributor-profile.mini{
          @include clearfix();
          padding: $space-medium;
          border-bottom: 1px solid $color-gray-light;

          .info{
            float: left;
            padding-left: $space-medium;

            .location{
              margin-bottom: 5px;
            }
          }

          button{
            float: right;
            margin: 5px 0;
          }
        }
      }
    }
  }
}