@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {

}

@media screen and (min-width: 768px) {

}

@media screen and (max-width: 992px) {

  table, thead, tbody, th, td, tr {
    display: block;
  }

  .table.table-striped {
    border: none;

    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tbody > tr {
      margin-bottom: $space-medium;
      border-top: 1px solid #eee;
      border-bottom: 3px solid $color-accent2;
      background-color: $color-light;

      &:hover {
        background-color: lighten($color-gray-light, 10%);
      }

      &:nth-of-type(odd) {
        background-color: $color-light;

        &:hover {
          background-color: lighten($color-gray-light, 10%);
        }
      }

      > td {
        border-bottom: 1px solid #eee;
        width: inherit;
        position: relative;
        padding-left: 35%;
        text-align: left;

        &.text-center {
          text-align: left;
        }

        .label {
          position: absolute;
          color: $color-dark;
          font-family: opensans-semibold, sans-serif;
          font-size: 1em;
          font-weight: normal;
          position: absolute;
          left: 0;
          line-height: 24px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .login-footer > .copyright {
    font-size: .9em;
    margin-bottom: $space-small;
  }

  header {
    height: 50px;

    .toggle-nav {
      line-height: 50px;
    }

    .title h1 {
      margin-top: 12px;
      font-size: 1.8em;
    }
  }

  .content {
    margin: 0;
    padding: 15px 20px;
  }

  .legend-bottom {
    font-size: 0.9em;
  }

  .statistic-box .box h1 {
    font-size: 1.8em;
  }

  .modal-dialog {
    display: block;
    margin: 0;
  }

  .breadcrumb-wrapper > .control {
    float: none;
    display: block;
    position: relative;
    padding: 5px $space-small;
    background-color: lighten($color-gray-light, 10%);

    a.link {
      color: $color-dark;
    }
  }

  .form-horizontal.form-strip .form-group:last-child {
    margin-bottom: 20px;
  }

  .table.table-striped tbody > tr > td {
    padding-left: 40%;
  }

  .table-footer {
    .status {
      float: none;
      text-align: center;
    }
    .pagination-wrapper {
      text-align: center;
      float: none;

      .pagination > li > a {
        padding: 4px 7px;
      }
    }
  }

  .title-section {
    > .title-wrapper {
      float: none;
      margin-bottom: $space-small;
    }

    > .control {
      float: none;

      > div {
        float: none;

        &.filter {
          margin-bottom: $space-small;
        }

        &.group-control {
          margin-right: 5px;
        }
      }
    }
  }
}
