.ms{
  margin: $space-small;
}

.mbs{
  margin-bottom: $space-small;
}

.mts{
  margin-top: $space-small;
}

.mls{
  margin-left: $space-small;
}

.mrs{
  margin-right: $space-small;
}

.mbm{
  margin-bottom: $space-medium;
}

.mtm{
  margin-top: $space-medium;
}

.mlm{
  margin-left: $space-medium;
}

.mrm{
  margin-right: $space-large;
}

.mbl{
  margin-bottom: $space-large;
}

.mtl{
  margin-top: $space-large;
}

.mll{
  margin-left: $space-large;
}

.mrl{
  margin-right: $space-large;
}


.ps{
  padding: $space-small;
}

.pbs{
  padding-bottom: $space-small;
}

.pts{
  padding-top: $space-small;
}

.pls{
  padding-left: $space-small;
}

.prs{
  padding-right: $space-small;
}

.pbm{
  padding-bottom: $space-medium;
}

.ptm{
  padding-top: $space-medium;
}

.plm{
  padding-left: $space-medium;
}

.prm{
  padding-right: $space-large;
}

.pbl{
  padding-bottom: $space-large;
}

.ptl{
  padding-top: $space-large;
}

.pll{
  padding-left: $space-large;
}

.prl{
  padding-right: $space-large;
}