.wide{
  height: 100%;
  width: auto;
}

.tall{
  width: 100%;
  height: auto;
}

.ms{
  margin: $space-small !important;
}

.mn{
  margin: 0 !important;
}

.mbn{
  margin-bottom: 0 !important;
}

.mtn{
  margin-top: 0 !important;
}

.mln{
  margin-left: 0 !important;
}

.mrn{
  margin-right: 0 !important;
}

.mbs{
  margin-bottom: $space-small !important;
}

.mts{
  margin-top: $space-small !important;
}

.mls{
  margin-left: $space-small !important;
}

.mrs{
  margin-right: $space-small !important;
}

.mbm{
  margin-bottom: $space-medium !important;
}

.mtm{
  margin-top: $space-medium !important;
}

.mlm{
  margin-left: $space-medium !important;
}

.mrm{
  margin-right: $space-medium !important;
}

.mbl{
  margin-bottom: $space-large !important;
}

.mtl{
  margin-top: $space-large !important;
}

.mll{
  margin-left: $space-large !important;
}

.mrl{
  margin-right: $space-large !important;
}


.ps{
  padding: $space-small !important;
}

.pn{
  padding: 0 !important;
}

.ptn{
  padding-top: 0 !important;
}

.pbn{
  padding-bottom: 0 !important;
}

.pln{
  padding-left: 0 !important;
}

.prn{
  padding-right: 0 !important;
}

.pbs{
  padding-bottom: $space-small !important;
}

.pts{
  padding-top: $space-small !important;
}

.pls{
  padding-left: $space-small !important;
}

.prs{
  padding-right: $space-small !important;
}

.pbm{
  padding-bottom: $space-medium !important;
}

.ptm{
  padding-top: $space-medium !important;
}

.plm{
  padding-left: $space-medium !important;
}

.prm{
  padding-right: $space-large !important;
}

.pbl{
  padding-bottom: $space-large !important;
}

.ptl{
  padding-top: $space-large !important;
}

.pll{
  padding-left: $space-large !important;
}

.prl{
  padding-right: $space-large !important;
}