@font-face {
  font-family: opensans-light;
  src: url("../fonts/OpenSans-Light.ttf");
}
@font-face {
  font-family: opensans-regular;
  src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: opensans-semibold;
  src: url("../fonts/OpenSans-Semibold.ttf");
}
@font-face {
  font-family: opensans-bold;
  src: url("../fonts/OpenSans-Bold.ttf");
}

$font-family      : opensans-regular, sans-serif;
$baseline         : 1.6px;
$text-article     : 14px;
$text-small       : 12px;
$text-heading1    : 36px;
$text-heading2    : 22px;
$text-heading3    : 18px;

$space-small      : 10px;
$space-medium     : 20px;
$space-large      : 50px;

$background-dark  : #0099ac;
$background-light : #f7f7f7;

$color-accent1    : #00acc1;
$color-accent2    : #4dc4d2;
$color-accent3    : #6dd7e3;
$color-accent4    : #ecf9fb;

$color-light      : #ffffff;
$color-gray-light : #dbdbdb;
$color-gray-dark  : #818181;
$color-dark       : #333333;

$color-facebook   : #3b5998;
$color-twitter    : #00aced;
$color-google     : #dd4b39;

